.container-fluid, body{
    font-size: 0.7em;
    padding: 0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    
    
}
#header {
    background-color:white;
    padding:1px;
}
.topnav {
    overflow: hidden;
    background-color: aqua;
    padding: 1em;
}

.topnav h {
    float: left;
    font-size: 3em;
    
}

.topnav a {
    float: right;
    color: #141313;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 17px;
    /* background-color: #ddd; */
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}



.allquiz  {
    width: 70%;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 20em !important;
    
}
.qstn  {
    width: 60%;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 20em !important;
    
}
.allquiz a{
    text-decoration:none;
}

.quiz{
    padding: 1em;
    border-style: ridge;
    margin-bottom: 1em;
} 
.spesificquiz{
    padding: 1em;
    border-style: ridge;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.2em;   
}
.comments{
    /* border-style: ridge; */
    margin: 0 auto;
    font-size: 1em; 
    border-top-style: ridge;
}
.sidecontent{
    padding-top: 3em;
    margin-left: 75%;
    text-align: left;
    font-size: 1.2em;
}
.qstncontent{
    padding-top: 3em;
    margin-left: 70%;
    text-align: left;
    font-size: 1.2em;
}
.registerpg{
    border-style: ridge;
    width: 50%;
     margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
    border-radius:0.5em;
    text-align: left;
    padding: 1em;
    
}

.form-control{
    margin-bottom: 1em;
    width: 80%;
    border-radius:0.5em;
    height:5%;
    border-style: ridge;
    padding-left: 0.5em;
}
label { 
    display: block; 
}
.alert{
    color: red;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 17%;
}
.info{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 17%;
}

.success{
    background-color: #4CAF50;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    width:15%
}


.footer{
    position: fixed;
    clear: both;
    width: 100%;
    font-size: 1.5em;
    bottom: 0;
   background-color: aqua;
   padding: 0.1em 0em;
}
.required{
    color: red;
}
.textarea{
    border-radius: 1em;
    padding: 1em;
}

